@import "../../global.scss";

li{
    margin-right: 50px;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $mainColour;
        color: white;

    }
}