.app{
    height: 100vh;
  

    .section{
       width: 100%;
       height: calc(100vh - 70px);
     
       position: relative;
       top: 70px;    
       scroll-snap-align: start;
       scroll-snap-type: y mandatory;
      overflow-y: auto; //scrool
      scroll-behavior: smooth;
      scrollbar-width: none;//only for firefox
      &::-webkit-scrollbar{
        display: none; //for all broweser
      }
    

       > *{
        width: 100%;
       height: calc(100vh - 70px);
       scroll-snap-align: start;
         }
     }

}